<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :photo_id %><br>
    <%= f.attachment_field :photo %>
  </div>
  <% if @photo.photo_id? %>
    <div class="field">
      <%= image_tag attachment_url(@photo, :photo, :fill, 100, 100) %>
      <%= f.check_box :remove_photo %>
      <%= f.label :remove_photo %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
